<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <pages theme="Design" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MyWSSoap">
          <security mode="Transport" />
        </binding>
        <binding name="MyWSSoap1" />
        <binding name="WebService1Soap">
          <security mode="Transport" />
        </binding>
        <binding name="WebService1Soap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44358/Extra/MyWS.asmx" binding="basicHttpBinding"
        bindingConfiguration="MyWSSoap" contract="ServiceReference1.MyWSSoap"
        name="MyWSSoap" />
      <endpoint address="https://localhost:44358/Extra/WebService1.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
        contract="ServiceReference2.WebService1Soap" name="WebService1Soap" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="WebForm1.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
